<!DOCTYPE html>
{% set lang = 'en' %}
{% for language in languages %}
  {% if language.active == '1' %}
    {% set lang = language.code %}
  {% endif %}
{% endfor %}
<html lang="{{lang}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{function('seo_dynamic_title')}}</title>
    <script>document.querySelector('html').classList.remove('no-js');</script>
    {{function('wp_head')}}
    {% block head %}{% endblock %}
  </head>
  <body class="{{body_class}}">
    <main>
      <h1 class="sr-only">{{function('seo_dynamic_title')}}</h1>
      {% block header %}{% endblock %}
      {% block content %}{{__('Sorry, no content yet', 'kili-luna')}}{% endblock %}
      {% block footer %}{% endblock %}
      {{function('wp_footer')}}
    </main>
  </body>
</html>